<h1 class="font-bold text-center text-5xl my-10">イベント一覧</h1>
<%= link_to "イベント作成ページはこちら", new_ivent_path , class:"bg-slate-200 rounded px-5 py-3"%>
<h1 class="font-bold text-center text-5xl my-10">イベント一覧</h1>

<% @ivents.each do |ivent| %>
  <div class="bg-green-100 mt-5 flex space-x-5 items-center justify-center"> 

    <div class="bg-slate-200 rounded px-5 py-3">
      <%= ivent.name %>
    </div>
    <%= link_to "編集" , edit_ivent_path(ivent.id) , class:"bg-slate-200 rounded px-5 py-3"%> 
    <%= link_to "削除" , "#" , class:"bg-slate-200 rounded px-5 py-3"%> 

  </div>
<% end %>

<%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete } %>